.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .row .col-sm-4, 
    .row .col-sm-8 {
        width: 100%;
        margin-top: 20px;
    }

    .container {
        padding-bottom: 15vh;
    }
}
.calificacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="radio"] {
    display: none; /* Ocultar los botones de radio */
}

label span.material-icons {
    font-size: 30px;
    cursor: pointer;
    color: lightgray;
    transition: color 0.3s ease-in-out;
}

input[type="radio"]:checked ~ label span.material-icons,
label:hover ~ label span.material-icons {
    color: gold;
}