* {
    margin: 0;
    box-sizing: border-box;
}

.header__left img {
    height: 40px;
}


.user__avatar {
    border-radius: 50%;
    width: 45px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__left input {
    width: 100%;
}


.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 999px;    
}

.header__input input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.headerExpandido {
    width: 50vw;
    margin-left: 100px;
}

.header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
}


.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option .material-icons {
    font-size: xx-large;
    color: gray;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info h4 {
    margin-left: 10px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right .material-icons {
    color: gray;
    margin: 0 10px;
}

.header__right .material-icons:hover {
    cursor: pointer;
}

.header__responsive {
    display: none;
}

.btn-primary {
    background-color: #52b04c;
    color: #eff2f5;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio alrededor del texto */
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active {
    background-color: #eff2f5;
    border: 1px solid #52b04c;
    color: #52b04c;
}

.btn-secondary {
    background-color: #eff2f5;
    color: #52b04c;
    border: 1px solid #52b04c;
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio alrededor del texto */
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
}

.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active {
    background-color: #52b04c;
    color: #eff2f5;
    border: 1px solid #eff2f5;
}

/* sidebar  */

.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarRow h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow .material-icons {
    font-size: xx-large;
    color: #52b04c;
}

/* story */
.story {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.story:hover {
    transform: scale(1.07);
}

.story__avatar {
    margin: 10px;
    color: blue;
}

.story h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.storyReel {
    padding: 10px 0;
    display: flex;
}

.main__body {
    display: flex;
}

body {
    background-color: #f1f2f5;
    overflow-y: scroll;
}

.feed {
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    padding: 25px 10px;
    flex: 0.33;
}

/* message sender */

.messageSender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messageSender__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.messageSender__top form {
    flex: 1;
    display: flex;
}

.messageSender__top form input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.messageSender__bottom {
    display: flex;
    justify-content: space-evenly;
}

.messageSender__option {
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messageSender__option h3 {
    font-size: medium;
    margin-left: 10px;
}

.messageSender__option:hover {
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}

/* post */

.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__image img {
    width: 100%;
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.post__topInfo h3 {
    font-size: medium;
}

.post__topInfo p {
    font-size: small;
    color: gray;
}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post__option p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    
}

.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.logo {
    height: 4em;
}

.publicacionimg{
    width: auto;   /* La imagen se ajusta al ancho del div */
    height: auto;  /* La imagen ocupa toda la altura del div */
    object-fit: cover;
}
.card {
    display: flex;
    flex-direction: row;
}

.tab-pane .card {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.tab-pane a {
    text-decoration: none;
}

.tab-pane button {
    margin: auto;
    margin-top: 3vh;
}

.tab-content {
    max-height: 80vh; /* Ajusta según el diseño deseado */
}

.card-img-top {
    width: 40%; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
}

.card-body {
    padding: 20px; /* Espaciado alrededor del texto */
}

scroll-container {
    margin:150px;
    display: block;
    width: 1000px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .widgets {
        display: none;
    }

    .feed {
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }

    .story h4 {
        font-size: 10px;
    }

    .story img {
        width: 40px;
    }
}

@media (min-width: 320px) {
    .storyReel {
        width: 100%;
        overflow-x: scroll;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    /* CSS To Target 767 px width of screen */

    .feed {
        width: 50%;
        padding: 10px 50px;
    }
}


@media (min-width: 992px) {
    .header__option:hover .material-icons {
        color: #52b04c;
    }
    
    .header__option.active .material-icons {
        color: #52b04c;
    }
    
    .header__option.active {
        border-bottom: 4px solid #52b04c;
    }
    
    .header__option:hover {
        background-color: #eff2f5;
        border-radius: 10px;
        align-items: center;
        padding: 0 30px;
        border-bottom: none;
    }
}

@media (max-width: 991px) {
    /* Estilos para tablets y pantallas medianas */
    .header__left, .header__middle, .header__right {
        display: none;
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0; /* Esto asegura que el header no se expanda más de lo necesario */
        width: 100%;
        padding: 10px 0;
        box-shadow: 0 -5px 8px -9px rgba(0, 0, 0, 0.75);
    }

    .header__responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        padding: 5px 0;
        width: 100%;
        position: fixed; /* Esto mantiene el header en la parte superior */
        bottom: 0;
    }

    .header__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        color: #eff2f5; /* Color del texto */
        text-decoration: none;
        padding: 10px 0; /* Aumentado para un mejor área clickeable */
        background-color: #52b04c; /* Fondo de cada opción */
        flex-grow: 1; /* Para que ocupe todo el espacio disponible */
        text-align: center;
    }

    .header__option i {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .header__option:hover {
        background-color: #eff2f5;
        color: #52b04c;
    }

    .header__option .material-icons {
        color: #eff2f5; /* Cambia el color del ícono solo en pantallas pequeñas */
    }

    .header__option:hover .material-icons {
        color: #52b04c; /* Cambiar el color del ícono a #52b04c */
    }
}

@media (max-width: 767px) {
    

    .header__option:hover * {
        color: #52b04c;
    }
}
.contenedor {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido al lado derecho */
    padding: 10px;
    border: 1px solid #ddd;
  }